@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

:root {
	
}

p{
  font-size: 1.4rem !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 2.5rem !important;
}
.h-modal{
  z-index: 999;
}
.bg-gray-50 {
    background-color: white !important;
  }


.highcharts-credits{
  display: none !important;
}
/* src/global.css */

body{
  background-color: #f8f8f8 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.modale_general > div:first-child {
  background: rgb(79 157 217) !important;
}
.modale_general > div:first-child  h3  {
  color: white !important;
}

.text-gray-700 {
  color:white !important;
}

.modale_general > div:first-child button:hover {
  background-color: #55a1ff; /* Couleur gris clair */
}

/* Styles pour le mode sombre */
@media (prefers-color-scheme: dark) {
  .modale_general > div:first-child button {
      background-color: #1a202c; /* Couleur de fond par défaut en mode sombre */
  }

  /* État de survol en mode sombre */
  .modale_general > div:first-child button:hover {
      background-color: #4a5568; /* Couleur gris foncé */
  }
}

.title-faq {
    color: black !important;
}

.footerss p {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    align-items: start !important;
}
h2.h2-baslik-footer.h-yazi-margin-kucuk,.footer__list,.footer__sosyal {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    align-items: start !important;
}

